
li:hover{
  box-shadow: 0pc 3px 5px #b3b3b3;
  cursor: pointer;
}
.d2{
  background: url("img/2.jpg");
  background-size: cover;
  height:600px;
}
.overlay{
  background: rgba(0,23,59,0.7);
  height: inherit;
  background-blend-mode: multiply;
  width: 100%;
  color: white;
  font-family: Roboto;
  font-weight: lighter;
}
strong{
  font-family: arial;
}
.h1{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  letter-spacing: 2px;
  transform: translate(-50%,-50%);
}
h1 button{
  font-size: 16px;
  width: 35%;
  border-radius: 25px;
  margin: 20px;
  color: white;
  background: none;
  border: solid 2px white;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: arial;
}
h1 button:hover{
  background-color: orange;
  border: solid 2px orange;
}
.content{
  color: rgb(0,39,102);
  font-family: roboto;
  height: 600px;
}
.s1{
  height: 400px;
  position: relative;
  top: 50%;
  transform: translate(0%,-50%);
}
.content h1{
  color:#002766;
}
.icon{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 75, 110,0.7);
}
.block{
  float: left;
  width: 30%;
  font-family: arial;
  margin: 10px;
}
.text span{
  font-family: roboto;
}
.block:hover{
  box-shadow: 0x 2px 5px black;
}
